

@{
    ViewBag.Title = "List";
}

<h2>Retail</h2>

<table class="table">
    <tr class="thead-dark">
        <th rowspan="2">
            @Html.DisplayName("E-CS")
        </th>
        <th rowspan="2">
            @Html.DisplayName("B-Cat")
        </th>
        <th rowspan="2">
            @Html.DisplayName("Series")
        </th>
        <th>
            @Html.DisplayName("JAN")
        </th>
        <th>
            @Html.DisplayName("FEB")
        </th>
        <th>
            @Html.DisplayName("MAR")
        </th>
        <th>
            @Html.DisplayName("APR")
        </th>
        <th>
            @Html.DisplayName("MAY")
        </th>
        <th>
            @Html.DisplayName("JUNE")
        </th>
        <th>
            @Html.DisplayName("JULY")
        </th>
        <th>
            @Html.DisplayName("AUG")
        </th>
        <th>
            @Html.DisplayName("SEP")
        </th>
        <th>
            @Html.DisplayName("OCT")
        </th>
        <th>
            @Html.DisplayName("NOV")
        </th>
        <th>
            @Html.DisplayName("DEC")
        </th>
        <th rowspan="2">
            @Html.DisplayName("Total")
        </th>
        <th></th>
    </tr>

    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>
            @DateTime.Now.Year
        </th>
        <th>

        </th>
        <th></th>
    </tr>
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            AC
        </th>
        <th>
            AC
        </th>
        <th>
            AC
        </th>
        <th>
            AC
        </th>
        <th>
            AC
        </th>
        <th>
            AC
        </th>
        <th>
            FC
        </th>
        <th>
            FC
        </th>
        <th>
            FC
        </th>
        <th>
            FC
        </th>
        <th>
            FC
        </th>
        <th>
            FC
        </th>
        <th>            

        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            F44
        </td>
        <td>
            COU
        </td>
        <td>
            2 Series
        </td>
        <td>
            1
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            1
        </td>
        <td>
            2
        </td>
        <td>
            1
        </td>
        <td>
            1
        </td>
        <td>
            1
        </td>
        <td>
            1
        </td>
        <td>
            8
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit") |
            @Html.ActionLink("Details", "Details") |
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>


</table>
